body, html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-weight: 200;
  background: #120e2b;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: white;
}

h2 {
  font-size: 3rem;
  font-weight: 200;
  color: #bc913c;
  font-family: 'Advent Pro', sans-serif;
}

hr {
  border: 1px solid #bc913c;
}

a {
  color: #bc913c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#languages {
  padding: 60px 10px 0 0;
  color: white;
  text-align: end;
}

#languages a {
  text-decoration: none;
  padding: 3px 10px;
}

#languages a:hover {
  color: #bc913c;
}

.current {
  background: white;
}

.show-rooms a i {
  font-size: 26px;
  color: white;
}

.show-rooms a i:hover {
  font-size: 30px;
}

#prices a i {
  font-size: 26px;
  color: white;
}

#prices a i:hover {
  font-size: 30px;
}

#topBtn {
  text-align: start;
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: transparent;
  display: none;
  transition: 0.3s ease-in;
}

#topBtn a i {
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  background: #bc913c;
}

.sub__header {
  text-align: center;
  font-style: italic;
}

.half__logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  margin-top: 60px;
}

.half__logo img {
  border-radius: 0 0 50% 50%;
}

/* NAVBAR */

#mainNavbar {
  border-bottom: 1px solid #bc913c;
  background-color: #120e2b;
  font-family: 'Advent Pro', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNavbar .navbar-brand {
  font-weight: 400;
  text-transform: uppercase;
  color: #bc913c;
  font-size: 2rem;
}

#mainNavbar.navbar-shrink .navbar-brand {
  color: #bc913c;
}

.navbar-brand > a {
  color: #bc913c;
}

.navbar-nav > li > a{
  color: #bc913c;
  font-weight: 200;
  font-size: 1.7rem;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar :hover {
  color: #bc913c;
}

.dropdown-menu {
  background: #120e2b;
}

.dropdown-item {
  color: white;
}

/* HEADER */

#header {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "logo logo secondary"
    "logo logo secondary"
    "mouse mouse mouse"
    "rate rate rate";
  height: 93%;
  place-content: center;
}

#banner-rate {
  background: white;
  box-shadow: 0 0 10px rgba(83, 83, 83, 0.7);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  margin: 60px 0 0px 0;
  padding: 5px;
}

#banner-rate img {
  max-width: 150px;
  max-height: 55px;
}

#banner-rate p {
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Advent Pro', sans-serif;
}

@media screen and (max-width: 1000px) {
  #tripad {
    display: none;
    position: absolute;
  }
}

#header h1 {
  margin-top: 50px;
  color: #bc913c;
  font-size: 3.5rem;
  font-weight: 100;
  font-family: 'Advent Pro', sans-serif;
}

.logo__header {
  grid-area: logo;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo__header img {
  min-width: 200px;
  min-height: 200px;
  height: auto;
  border-radius: 60%;
  /* box-shadow: 2px 2px 10px #bc913c; */
}

.secondary {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
} 

.text__header {
  display: secondary;
  align-content: center;
  text-align: center;
  margin-top: 50px;
}

.text__header .social-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: whitesmoke; 
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #bc913c;
  overflow: hidden;
  position: relative;
}

.text__header .social-btn i {
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}

.text__header .social-btn:hover i {
  transform: scale(1.3);
  color: #120e2b;
}

.text__header .social-btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #bc913c;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.text__header .social-btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@media (max-width: 690px) {
  #header {
    grid-template-areas: 
      "secondary"
      "logo"
      "mouse"
  } 
  .logo__header {
    margin: 0;
  }
  .text__header {
    visibility: hidden;
    margin-top: -250px;
  }
} 

/* SCROLL IMG */
/* 
#mouse {
  grid-area: mouse;
  margin: 20px auto;
  width: 50%;
  position: relative;
  margin-bottom: 100px;
}

#mouse .mouse-scroll {
  position: absolute;
  transform: translate(-30%, -30%);
  top: 80%;
  left: 50%;
}

#mouse .mouse {
  width: 25px;
  height: 45px;
  border: 3px solid #bc913c;
  border-radius: 60px; 
}

.mouse::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: 7.5px;
  background: #bc913c;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 7.5px;
  }
  to{
    opacity: 0;
    top: 37.5px;
  }
} */


/* ABOUT */

#about {
  background: #19193b;
  display: grid;
  place-content: center;
  grid-template-areas: 
    "title" 
    "content";
  padding-top: 30px;
  font-size: 1.3rem;
}

#about h2{
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
}

.title__desc {
  grid-column: 1 / -1;
}

.title__desc p {
  text-align: center;
  font-style: italic;
}

.content__about{
  display: grid;
  margin: 50px;
  grid-template-areas: 
    "text img";
}

@media (max-width: 1270px) {
  #about {
    margin: auto 0 auto 0;
  }

  #about .content__about {
    grid-template-areas:
    "text" 
    "img";
    place-items: center;
    margin: 0 0 50px 0;
  }
  #about .text__desc {
    text-rendering: auto;
    text-align: center;
  }
}

.text__desc {
  margin: 20px;
  text-align: end;
}

#about span {
  color: #bc913c;
  font-weight: 300;
}

#about img {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  place-items: center;
}

/* SERVICES */

.services {
 text-align: center;
 width: 100%;
 padding: 30px 0 80px 0;
}

.service h3 {
  color: #bc913c ;
  font-size: 2rem;
  font-weight: 200;
  margin: 10px 10px;
  font-family: 'Advent Pro', sans-serif;
}

.service p {
  color:whitesmoke;
  font-size: 1rem;
}

.service img {
  width: 50%;
}

.service i {
  color: #bc913c;
  font-size: 34px;
  margin-bottom: 1rem;
}

.cen {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.service:hover {
  background: #141431;
  box-shadow: 2px 2px 10px #bc913c; 
}

@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}


/* SOCIAL ICON */


.item__social__footer {
  text-align: center;
}

.item__social__footer .social-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: whitesmoke; 
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #bc913c;
  overflow: hidden;
  position: relative;
}

.item__social__footer .social-btn i {
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}

.item__social__footer .social-btn:hover i {
  transform: scale(1.3);
  color: #120e2b;
}

.item__social__footer .social-btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #bc913c;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.item__social__footer .social-btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    left: -10%;
    top: -10%;
  }
}

@media screen and (max-width: 480px) {
  .item__social__footer {
    display: none;
  }
}

/* FOOTER */

footer {
  padding: 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: white;
  background: #0f0c29;
  border-top: 1px solid #bc913c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "copyr logo info";
  place-items: center;
  max-height: 500px;
}

footer a {
  color: #bc913c;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-right: 1px;
}

.right__footer ul li h5 {
  color: #bc913c;
  text-transform: uppercase;
}

.left-footer {
  grid-area: copyr;
  text-align: start;
}

.central-footer {
  grid-area: logo;
  text-align: center;
}

.central-footer img {
  max-width: 200px;
  border-radius: 50%;
  /* box-shadow: 2px 2px 10px #bc913c; */
}

.powered-by {
  margin-top: 10px;
}

.powered-by a:hover {
  color: #bc913c;
}

.right__footer {
  text-align: center;
  grid-area: info;
  margin-top: 30px;
}

@media screen and (max-width: 850px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "logo"
        "info"
        "copyr";
  }
  .header-right h1 {
    font-size: 3rem;
  }
  .content-about, #apartment {
    padding: 0;
  }
  .content-index .header-right {
    padding: 0;
  }
  .left-footer {
    text-align: center;
  }
  .right__footer {
    margin-right: 40px;
  }
}
