body {
  margin: 0 auto;
}

/* PRICES */

#prices {
  margin-bottom: 100px;
  margin: 0 auto;
}

#prices hr {
  border: 1px solid #bc913c;
  margin: 20px 20px 3px 20px;
}

.text-title,
.text-season {
  text-align: center;
  padding: 15px;
}

.text-title h2,
.social-icon-price,
i {
  text-align: center;
}

.text-title h2 {
  text-transform: uppercase;
}

.text-season span {
  color: #bc913c;
  font-weight: 300;
}

.text-season h3 {
  color: #bc913c;
  font-weight: 200;
}

/* -------- SEARCH FORM ------  */

#search-table {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  background: #19193b;
}

#search-table h3 {
  color: #bc913c;
  font-weight: 200;
}

#input-personPerRoom input {
  display: inline-block;
}

/* ------- LOADER -------- */

#loading {
  text-align: center;
  padding: 20px;
  display: none;
}

#loading img {
  width: 150px;
}

#error {
  display: none;
  text-align: center;
  padding: 30px;
}

#error p {
  padding: 10px;
  color: #ff0000;
  font-size: 2rem;
  font-weight: 100;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

/* ------- CARD SHOW RESULTS ------- */

.results {
  font-family: 'Advent Pro', sans-serif;
  justify-items: center;
  visibility: hidden;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  background: #19193b;
  font-size: 1.5rem;
  font-weight: 200;
}

.border {
  border: 1px solid #bc913c;
  margin: 0 100px;
}

.person-number {
  text-transform: uppercase;
  color: #bc913c;
  align-self: center;
  padding: 30px 5px;
  text-align: center;
}

.number {
  font-size: 3rem;
  color: white;
}

.rooms-service {
  padding: 30px 5px;
}

.rooms-service ul {
  padding: 0;
  list-style-type: none;
}

.price-result {
  padding: 30px 5px 40px 5px;
}

.price-result .btn {
  border-radius: 10px;
  font-size: 1.5rem;
  width: 180px;
  font-weight: 100;
  background: #bc913c;
  color: #120e2b;
  cursor: pointer;
}

.price-result .btn i {
  color: #120e2b;
}

.price-result .btn:hover {
  background: #8d681e;
}

.price-result .price {
  font-size: 3rem;
  color: #bc913c;
}

.results img {
  width: 100%;
}

.results i {
  color: #bc913c;
}

@media screen and (min-width: 1500px) {
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1800px;
  }
}

/* -------- INPUT STYLE ------- */

#form {
  letter-spacing: 1.2px;
}

.container-form {
  display: block;
  position: relative;
  margin: 0 auto;
  height: auto;
  max-width: 900px;
  padding: 5px;
  text-align: center;
  background: #19193b;
}

.container-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-form h3 {
  color: #bc913c;
  font-weight: 200;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: 'Advent Pro', sans-serif;
}

.container-form h3 i {
  padding-right: 5px;
}

ul li {
  color: white;
  display: inline-block;
  position: relative;
  max-width: 100%;
  padding: 0 8px;
}

label {
  padding: 5px;
  font-size: 1.4rem;
}

input[type=radio] {
  padding: 5px;
}

#input-season {
  padding-top: 40px;
}

#search-btn {
  padding-bottom: 20px;
  text-align: center;
}

#reset-btn {
  padding-bottom: 20px;
  text-align: center;
  padding-top: 30px;
  display: none;
}

#search-btn input {
  padding: 8px 25px;
  border: none;
  background: #bc913c;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1.2px;
}

#reset-btn input {
  padding: 8px 25px;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  color: #120e2b;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1.2px;
}

#search-btn input:hover,
#reset-btn input:hover {
  background: #8d681e;
}

@media screen and (min-width: 620px) {
  ul .lake-view-check .check {
    left: 200px;
  }

  ul .season-check .check {
    left: 200px;
  }
}

@media screen and (min-width: 1000px) {
  #prices hr {
    margin: 20px 300px 3px 300px;
  }

  ul .lake-view-check .check {
    left: 350px;
  }

  ul .season-check .check {
    left: 350px;
  }

  ul .lake-view-checkDEU .check {
    left: 280px;
  }
}