/* INDEX ROOMS */
#indexRooms {
  padding: 20px;
}

#cards-room a {
  text-decoration: none;
}

#cards-room a:hover {
  text-decoration: none;
  color: #bc913c;
}

#cards-room {
  display: grid;
  padding: 0 20px 20px 20px;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.txt-indexRooms {
  grid-area: text-title;
  text-align: center;
}

.txt-indexRooms h2 {
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
}

.card-room {
  text-align: center;
  padding: 20px;
  background: #19193b;
  transition: 0.3s ease-in-out;
}

.card-room:hover {
  background: #2a2a4a;
}

.card-content {
  background: #120e2b;
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.card-room h3 {
  color: #bc913c;
  font-weight: 200;
  padding: 10px;
  font-family: 'Advent Pro', sans-serif;
  transition: 0.2s ease-in;
}

@media screen and (min-width: 500px) {
  #cards-room {
    padding: 0 100px 40px 100px;
  }
}

@media screen and (min-width: 700px) {
  #cards-room {
    padding: 0 140px 40px 140px;
  }
}

@media (min-width: 900px) {
  #cards-room {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 80px 180px 80px;
  }

  .card-room {
    padding: 50px;
  }
}

/* SHOW ROOMS */

.logo-pages img {
  margin-top: 10%;
  width: 25%;
  height: auto;
  border-radius: 60%;
  box-shadow: 2px 2px 10px #bc913c;
}

.show-rooms {
  display: grid;
  grid-template-areas: 'text img';
  margin: 0 auto;
  width: 90%;
}

.show-rooms h2 {
  margin-bottom: 20px;
}

.show-rooms img {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  margin-top: 100px;
}

.show-rooms hr {
  border: 1px solid #bc913c;
  margin: 10px 20px 3px 20px;
}

.show-rooms ul {
  list-style-type: none;
}

.show-rooms li {
  text-indent: -1.4em;
}

.show-rooms li i {
  margin-right: 4px;
  color: #bc913c;
}

.left-side {
  padding: 50px;
}

.left-side {
  text-align: start;
  align-self: start;
}

@media screen and (max-width: 1050px) {
  .logo-pages img {
    width: 35%;
    margin-top: 13%;
  }

  .show-rooms {
    grid-template-areas:
      'text'
      'img';
    place-items: center;
  }

  .left-side {
    text-align: center;
    align-self: center;
  }

  .show-rooms img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 770px) {
  .logo-pages img {
    width: 40%;
    margin-top: 17%;
  }
}

@media screen and (max-width: 500px) {
  .logo-pages img {
    width: 60%;
    margin-top: 25%;
  }

  .show-rooms {
    width: 100%;
  }

  .left-side {
    text-align: start;
    padding: 20px;
  }

  .left-side h2 {
    text-align: center;
  }
}

.extra-info {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 150px;
}

.extra-info h2 {
  margin-top: 100px;
  text-align: center;
}

.extra-info h5 {
  text-align: start;
  font-family: 'Advent Pro', sans-serif;
}

.extra-info p {
  font-size: 18px;
}

.extra-info .btn {
  color: #bc913c;
  background: transparent;
  font-weight: 300;
  font-size: 20px;
}

.extra-info .card {
  background: transparent;
  border-bottom: 1px solid #bc913c;
}